.gethenian .cg-wrap piece.k-piece.ally {
    background-image: url('../../images/pieces/gethenian/cburnett_cm/cyan_King_light.svg');
}
.gethenian .cg-wrap piece.pk-piece.ally {
    background-image: url('../../images/pieces/gethenian/cburnett_cm/cyan_King_dark.svg');
}
.gethenian .cg-wrap piece.b-piece.ally {
    background-image: url('../../images/pieces/gethenian/cburnett_cm/cyan_Bishop_light_arrow_left.svg');
}
.gethenian .cg-wrap piece.pb-piece.ally {
    background-image: url('../../images/pieces/gethenian/cburnett_cm/cyan_Rook_dark_arrow.svg');
}
.gethenian .cg-wrap piece.i-piece.ally {
    background-image: url('../../images/pieces/gethenian/cburnett_cm/cyan_Bishop_light_arrow_right.svg');
}
.gethenian .cg-wrap piece.pi-piece.ally {
    background-image: url('../../images/pieces/gethenian/cburnett_cm/cyan_Rook_dark_arrow.svg');
}
.gethenian .cg-wrap piece.n-piece.ally {
    background-image: url('../../images/pieces/gethenian/cburnett_cm/cyan_Knight_light_left.svg');
}
.gethenian .cg-wrap piece.pn-piece.ally {
    background-image: url('../../images/pieces/gethenian/cburnett_cm/cyan_Knight_dark_right.svg');
}
.gethenian .cg-wrap piece.m-piece.ally {
    background-image: url('../../images/pieces/gethenian/cburnett_cm/cyan_Commoner_light.svg');
}
.gethenian .cg-wrap piece.pm-piece.ally {
    background-image: url('../../images/pieces/gethenian/cburnett_cm/cyan_Commoner_dark.svg');
}

.gethenian .cg-wrap piece.k-piece.enemy {
    background-image: url('../../images/pieces/gethenian/cburnett_cm/mag_King_light.svg');
}
.gethenian .cg-wrap piece.pk-piece.enemy {
    background-image: url('../../images/pieces/gethenian/cburnett_cm/mag_King_dark.svg');
}
.gethenian .cg-wrap piece.b-piece.enemy {
    background-image: url('../../images/pieces/gethenian/cburnett_cm/mag_Bishop_light_arrow_left.svg');
}
.gethenian .cg-wrap piece.pb-piece.enemy {
    background-image: url('../../images/pieces/gethenian/cburnett_cm/mag_Rook_dark_arrow.svg');
}
.gethenian .cg-wrap piece.i-piece.enemy {
    background-image: url('../../images/pieces/gethenian/cburnett_cm/mag_Bishop_light_arrow_right.svg');
}
.gethenian .cg-wrap piece.pi-piece.enemy {
    background-image: url('../../images/pieces/gethenian/cburnett_cm/mag_Rook_dark_arrow.svg');
}
.gethenian .cg-wrap piece.n-piece.enemy {
    background-image: url('../../images/pieces/gethenian/cburnett_cm/mag_Knight_light_right.svg');
}
.gethenian .cg-wrap piece.pn-piece.enemy {
    background-image: url('../../images/pieces/gethenian/cburnett_cm/mag_Knight_dark_left.svg');
}
.gethenian .cg-wrap piece.m-piece.enemy {
    background-image: url('../../images/pieces/gethenian/cburnett_cm/mag_Commoner_light.svg');
}
.gethenian .cg-wrap piece.pm-piece.enemy {
    background-image: url('../../images/pieces/gethenian/cburnett_cm/mag_Commoner_dark.svg');
}
