.gethenian .cg-wrap piece.k-piece.ally {
    background-image: url('../../images/pieces/green/wK.svg');
}
.gethenian .cg-wrap piece.pk-piece.ally {
    background-image: url('../../images/pieces/green/wK_r.svg');
}
.gethenian .cg-wrap piece.r-piece.ally {
    background-image: url('../../images/pieces/green/wR.svg');
}
.gethenian .cg-wrap piece.pr-piece.ally {
    background-image: url('../../images/pieces/green/wR_r.svg');
}
.gethenian .cg-wrap piece.b-piece.ally {
    background-image: url('../../images/pieces/green/wB.svg');
}
.gethenian .cg-wrap piece.pb-piece.ally {
    background-image: url('../../images/pieces/green/wB_r.svg');
}
.gethenian .cg-wrap piece.n-piece.ally {
    background-image: url('../../images/pieces/green/wN.svg');
}
.gethenian .cg-wrap piece.pn-piece.ally {
    background-image: url('../../images/pieces/green/wN_r.svg');
}
.gethenian .cg-wrap piece.m-piece.ally {
    background-image: url('../../images/pieces/green/wCommoner.svg');
}
.gethenian .cg-wrap piece.pm-piece.ally {
    background-image: url('../../images/pieces/green/wCommoner_r.svg');
}

.gethenian .cg-wrap piece.k-piece.enemy {
    background-image: url('../../images/pieces/green/bK.svg');
}
.gethenian .cg-wrap piece.pk-piece.enemy {
    background-image: url('../../images/pieces/green/bK_r.svg');
}
.gethenian .cg-wrap piece.r-piece.enemy {
    background-image: url('../../images/pieces/green/bR_r.svg');
}
.gethenian .cg-wrap piece.pr-piece.enemy {
    background-image: url('../../images/pieces/green/bR.svg');
}
.gethenian .cg-wrap piece.b-piece.enemy {
    background-image: url('../../images/pieces/green/bB_r.svg');
}
.gethenian .cg-wrap piece.pb-piece.enemy {
    background-image: url('../../images/pieces/green/bB.svg');
}
.gethenian .cg-wrap piece.n-piece.enemy {
    background-image: url('../../images/pieces/green/bN_r.svg');
}
.gethenian .cg-wrap piece.pn-piece.enemy {
    background-image: url('../../images/pieces/green/bN.svg');
}
.gethenian .cg-wrap piece.m-piece.enemy {
    background-image: url('../../images/pieces/green/bCommoner_r.svg');
}
.gethenian .cg-wrap piece.pm-piece.enemy {
    background-image: url('../../images/pieces/green/bCommoner.svg');
}
